body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #22356F;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* inro */

.inro {
    width: 100%;
    height: 100vh;
    background: #F4F9E2;
}

/* Container */

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* Header ЗАГОЛОВОК*/

.header {
    width: 100%;
    position: absolute;
    z-index: 100;
}

.header-inner {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.header-logo {
    color: #62D0DF;
    font-size: 24px;
    line-height: 27px;
    position: relative;
}


.header-logo:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #F4F9E2;
    box-shadow: inset 0px -1px 0px #62D0DF;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: block;
    display: none;
}

.header-logo:hover:after {
    display: block;
}

/* Nav  НАВИГАЯЦИЯ*/

.nav {
    font-size: 14px;
    line-height: 16px;
    padding-left: 281px
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    color: #22356F;
    position: relative;
}

.nav-link:after {
    content: "";
    width: 111%;
    height: 10px;
    background: #F4F9E2;
    box-shadow: inset 0px -1px 0px #22356F;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: block;
    display: none;
}

.nav-link:hover:after {
    display: block;
}

.contact {
    width: 150px;
    height: 50px;
    position: relative;
    top: 9px;
    left: 247px;

}

.contact-btm {
    font-size: 14px;
    line-height: 16px;
    background: #62D0DF;
    border-radius: 50px;
    padding: 15px;
    color: #FFFFFF;
}

.contact-btm:hover {
    background-color: #F9B640;
}

/* inro */




.inro-title {
    color: #62D0DF;
    font-size: 24px;
    line-height: 27px;
    position: relative;
    top: 200px;
}

.inro-title-text {
    position: relative;
    top: 240px;
    width: 435px;
}

.inro-text {
    position: relative;
    top: 295px;
    width: 495px;
    font-size: 24px;
    line-height: 42px;

}

/* button */

.button {
    position: relative;
    top: 350px;
}

.btn {
    font-size: 16px;
    line-height: 23px;
    background: #F9B640;
    width: 150px;
    height: 43px;
    border-style: none;
    cursor: pointer;
    position: relative;
}

.button-who {
    background-color: #F9B640;
    color: #fff;
}

.button-what {
    background-color: #F4F9E2;
    color: #F9B640;
}

.button-who:hover {
    background-color: #62D0DF;
}

.button-what:hover {
    color: #62D0DF;
}

/* img home */

.img-home {
    position: relative;
    left: 600px;
    top: -337px;
}


/* new-page */

.the-background {
    background: #62D0DF;
    position: relative;
    width: 1437px;
    height: 604px;
    top: -262px;
}

.new-page {
    position: relative;
    top: -644px;
    color: #FFFFFF;
}

.title {
    width: 223px;
    height: 51px;
    position: relative;
    bottom: 75px;
    font-size: 36px;
    line-height: 27px;
    font-weight: bold
}

.description {
    width: 561px;
    line-height: 35.16px;
}

.description-text {
    font-size: 20px;
    line-height: 29,3px;
}


.img-girl {
    position: absolute;
    right: 0;
    top: 890px;
}

/* .bottom-of-new-page {
   
} */

.about-us {
    position: relative;
    top: -428px;
    left: 106px;
    width: 93px;
    font-size: 16px;
    line-height: 23px;
}

.offer-help {
    width: 592px;
    position: relative;
    top: -452px;
    left: 424px;
}

.help-options {
    position: relative;
    text-align: center;
    top: -384px;
    color: rgba(34, 53, 111, 0.5);
    font-size: 16px;
    line-height: 19px;
}

/* box */


.boxfour {
    display: flex;
    position: relative;
    top: -360px;
}

.box {
    width: 414.5px;
    height: 360px;
}

.band {
    border-top: 1px solid #fff;
    width: 255px;
    position: relative;
    left: 79px;
    top: 88px;
    
}

.dot {
    width: 9px;
    height: 9px;
    border: 5px solid #E9B730;;
    border-radius: 50%;
    position: relative;
    top: 116px;
    left: 92px;
}

.box-center {
    text-align: center;
    position: relative;
    top: 95px;
    color: #FFFFFF;
    font-size: 32px;
    line-height: 34px;
}

/* .box-two-text {

} */

 /* Colour box 1-4 */


 .box-one {
    background: #FFE2DE;
}

.box-two {
    background: #C4E769;
}

.box-three {
    background: #62D0DF;
}

.box-four {
    background: #0052C1;
}


/* Big box start */


.six-big-box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -238px;
}

.big-box {
    flex:1 1 calc(33.33% - 30px);
    height: 480px;
}

.big-box-text {
    position: relative;
    width: 131px;
    top: 126px;
    left: 104px;
    z-index: 2;
    color: #FFFFFF;
    font-size: 32px;
    line-height: 34px;
}

.big-box-band {
    border-top: 1px solid #fff;
    width: 410px;
    position: relative;
    top: 99px;
    left: 72px;
    z-index: 2;
}

.big-box-dot {
    width: 12px;
    height: 12px;
    border: 7px solid #E9B730;;
    border-radius: 50%;
    position: relative;
    top: 149px;
    left: 79px;
    z-index: 2;

}

.big-box-one {
    background: #22356F;
}

.big-box-two {
    background: #0052C1;
}

.big-box-three {

}

.big-box-img {
    width: 100%;
    height:auto;
    top: -48px;
    position: relative;
    z-index: 0;
}

.big-box-four {
    background: #62D0DF;
}

.big-box-five {
    background: #DEE1FF;
}

.big-box-six {
    background: #8F00FF;
    z-index: 1;
}


/* Start mini-box  */

.six-mini-box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -216px;
}

.mini-box {
    height: 240px;
    flex: 1 1 calc(33.33% - 30px);

}

.mini-box-title {
    width: 234px;
    height: 36px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 55px;
    color: #22356F;
}

.mini-box-text {
    font-size: 16px;
    line-height: 25px;
    color: rgba(34, 53, 111, 0.5);
    width: 298px;
    position: relative;
    left: 160px;
    top: 37px;
}

/* Start statistics */

.statistics {

}

.statistic-img {
    top: -173px;
    position: relative;
}

.title-statistic {

}

.text-statistic {

}

.subtitle-statistic {
    
}